.base {
  margin-top: 100px;
  margin-right: auto;
  text-align: center;
  /* background-color: darkgray; */
}
.button-group {
  margin-bottom: 50px;
}
.card {
  margin-bottom: 25px;
}
.addStudents {
  margin-top: 100px;
}
.card-link {
  cursor: pointer;
}
